html{
  scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0ppx;
}
.imgl{
    width: 85px;
}

.head{
    background-color: #202020;

}
.headword{
  color: white;
  font-family: 'Baloo Tamma 2', cursive;
}
.listtop{
  list-style: none;
  
}
.navbar-nav{
  margin: auto;
}
.navbar-light .navbar-nav .nav-link :hover{
color: black;
}
.navbar-light .navbar-nav .nav-link {
  color:white !important; 
  margin-left: auto;
}
.und{
  border-bottom: 2px solid red;
  padding-bottom: 2px;
  width: 119px;
}
.cas{
  border-bottom: 2px solid red;
  padding-bottom: 2px;
  width: 138px;
}
.listll{
display: inline-block;
}
.ftsize{
  font-size: 22px;
  background-color: black;
  color: #FFC30B;
}

#caro{
    height: 615px;
} 
@media screen and (max-width: 480px) {
    #caro {
      height: 351px;
    }
    #footer{
        height: 210px;
    }
  }
  
  .newheading{
    font-family: 'Baloo Tamma 2', cursive;
  }
  .bh{
    border-bottom: 2px solid red;
    width: 112px;
    margin: auto;
}
.bha{
  border-bottom: 2px solid red;
  width: 85px;
 
}
  .foot{
    background-color: #202020;
color: white;
  }
  .fade-in{
    animation: fadeIn 4s;
    animation-timing-function: ease-in-out;
  
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
  